.loginMane {
  background-color: #f6f5f4;
  padding: 113px 0px;
  width: 100%;
  & .loginmainContainer {
    margin: 0px auto;
    max-width: 1180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    & img {
      max-width: 395px;
      background-size: contain;
    }

    & .loginContainer {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      & .error {
        color: #757575;
        font-family: Space Grotesk;
        font-weight: 700;
        font-style: Bold;
        font-size: 16px;
      }
      & .hey {
        margin-top: 24px;
        color: #000000;
        font-family: Dela Gothic One;
        font-weight: 400;
        font-style: Regular;
        font-size: 56px;
        line-height: 120%;
        letter-spacing: -4%;
      }
      & .bottomHey {
        margin-top: 24px;
        color: #757575;
        font-family: Space Grotesk;
        font-weight: 500;
        font-style: Medium;
        font-size: 20px;
        line-height: 142%;
      }
      & a {
        text-decoration: none;
        color: #ffffff;
        font-family: Montserrat;
        font-weight: 700;
        font-style: Bold;
        font-size: 16px;
        letter-spacing: -4%;
        text-align: center;
        vertical-align: middle;

        margin-top: 32px;
        background-color: #2b788b;
        padding: 14px 24px;
        border: none;
        border-radius: 100px;
      }
    }
  }
}
