.registerMane {
  background-color: #f6f5f4;
  padding: 83px 0px;
  width: 100%;
  & .registermainContainer {
    margin: 0px auto;
    max-width: 1180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    & img {
      max-width: 481px;
      background-size: contain;
    }

    & .registerContainer {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      & h1 {
        font-family: Dela Gothic One;
        font-weight: 400;
        font-style: Regular;
        font-size: 56px;
        line-height: 120%;
        letter-spacing: -4%;
        color: #000000;
      }
      & .input {
        margin-top: 30px;
        padding: 13.5px 0px 13.5px 20px;
        font-family: Open Sans;
        font-weight: 400;
        font-style: Regular;
        font-size: 20px;
        line-height: 155%;
        vertical-align: middle;
        width: 519px;
      }

      & button {
        margin-top: 32px;
        background-color: #2b788b;
        padding: 14px 24px;
        border: none;
        border-radius: 100px;

        font-family: Montserrat;
        font-weight: 700;
        font-style: Bold;
        font-size: 16px;
        letter-spacing: -4%;
        text-align: center;
        vertical-align: middle;
        color: #ffffff;
      }
    }
  }
}

