footer {
  width: 100%;
  background-color: #f6f5f4;
  & .footerContainer {
    padding: 40px 0;
    max-width: 1180px;
    margin: 0px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    & .footerFirstContainer {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 20px;
      border-bottom: 1.2px solid #e0e0e0;
      & .left,
      .right {
        display: flex;
        align-items: center;
        gap: 30px;
        & p {
          font-family: Montserrat;
          font-weight: 600;
          font-style: SemiBold;
          font-size: 14px;
          color: #757575;
        }
      }
    }
    & .footerSecondContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding-top: 21px;
      & .left {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 150px;
        & .footerImage1 {
          background-image: url(../../files/FooterImage1.svg);
          width: 30px;
          height: 24px;
        }
        & .footerImage2 {
          background-image: url(../../files/FooterImage2.svg);
          width: 30px;
          height: 24px;
        }
        & .footerImage3 {
          background-image: url(../../files/FooterImage3.svg);
          width: 30px;
          height: 24px;
        }
      }
      & p {
        font-family: Montserrat;
        font-weight: 600;
        font-style: SemiBold;
        font-size: 12px;
        color: #757575;
        & span {
          border-bottom: 1px solid #757575;
        }
      }
    }
  }
}
